---
import { tw } from '@nrsk/tw'

import { toTagsWithURL } from '@/api/frontmatter'
import type { NoteEntry } from '@/api/content'
import { render } from '@/api/markdown'

import PageProse from '@/components/PageProse.astro'
import Header from '@/components/Header.astro'
import Date from '@/components/Date.astro'
import Tags from '@/components/Tags.astro'
import Dot from '@/components/Dot.astro'

export interface Props {
  item: NoteEntry
}

const { body, data } = Astro.props.item

const content = await render(body)
const tags = toTagsWithURL('/notes/tags/', data.tags ?? [])

const snippetClasses = tw`
  flex flex-col justify-center items-start gap-10 sm:gap-12 w-full
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const metaClasses = tw`
  text-gray-700 dark:text-gray-300
`
---

<article class={snippetClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>
      {data.title}
    </h1>

    <p slot="sub" class={metaClasses}>
      <Date date={data.createdAt} />
      <Dot />
      <Tags items={tags} />
    </p>
  </Header>

  <PageProse content={content} />
</article>
