---
import { tw } from '@nrsk/tw'

import Link from '@/components/Link.astro'

const sectionClasses = tw`
  flex flex-col gap-4
`

const headingClasses = tw`
  text-2xl font-semibold
  text-gray-900 dark:text-gray-50
`

const noteClasses = tw`
  text-gray-800 dark:text-gray-300
`

const hrClasses = tw`
  my-2 w-1/12 border-t-2 border-gray-200 dark:border-gray-800
`

const email = `mailto:hello@vm.codes`

const bandcamp = 'https://hypnosense.bandcamp.com'
const spotify = 'https://open.spotify.com/artist/1EqX9erOVQHCVlAwGihPS2?si=U6WzSwm0RSCnS70g_sVZXQ'
---

<section class={sectionClasses}>
  <h2 class={headingClasses}>Hello!</h2>

  <p class={noteClasses}>
    I'm a front-end developer building polished products and web experiences using modern tech stack.
    My expertise ranges from working independently to leading teams towards project success as a
    tech/team lead.
  </p>

  <p class={noteClasses}>
    I'm also a Rust and functional programming aficionado fascinated by design of compilers and
    programming languages. Sometimes I write music, mostly drone-ambient, which is available for
    free on my <Link to={bandcamp} external>Bandcamp</Link> and
    <Link to={spotify} external>Spotify</Link>.
  </p>

  <hr class={hrClasses} />

  <p class={noteClasses}>
    You can reach me via <Link to={email}>email</Link>.
  </p>
</section>
