---
import { Picture } from '@astrojs/image/components'
import { tw } from '@nrsk/tw'

import Header from '@/components/Header.astro'
import avatar from '@/assets/images/saif.jpg'

const sectionClasses = tw`
  flex flex-col-reverse sm:flex-row justify-between gap-0 sm:gap-10
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const aboutClasses = tw`
  text-gray-700 dark:text-gray-300
`

const photoClasses = tw`
  [--size:15rem]
  max-w-[var(--size)] min-h-[var(--size)] mb-8 sm:mb-0
  select-none rounded-full
`
---

<section class={sectionClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>Hi! I'm Saif.</h1>

    <p slot="sub" class={aboutClasses}>
      FullStack Software Developer with experience in <strong>Go</strong>, <strong>Python</strong>,
      <strong>Dart</strong> , <strong>JavaScript</strong>, and <strong>TypeScript</strong>.
    </p>
  </Header>

  <Picture
    src={avatar}
    class={photoClasses}
    title="Hey, that's me!"
    alt="Saif's photo"
    aspectRatio={1}
    widths={[256, 512]}
    sizes="(min-width: 640px) 512px, 256px"
  />
</section>
