---
import CardGrid from '@/components/CardGrid.astro'
import Header from '@/components/Header.astro'
import Link from '@/components/Link.astro'

import { loadProjects } from '@/api/projects'
import { tw } from '@/utils'

import ProjectsCard from './ProjectsCard.astro'

const projects = await loadProjects()

const sectionClasses = tw`flex flex-col gap-6`
const noteClasses = tw`text-gray-700 dark:text-gray-300`

const headingClasses = tw`
  text-2xl md:text-4xl font-bold tracking-tight
  text-black dark:text-white
`

const linkClasses = tw`
  group !no-underline leading-7 transition-[color]
  text-gray-500 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200
`

const linkArrowClasses = tw`
  group-hover:ml-1
  font-semibold leading-7 transition-[margin-left]
`
---

<section class={sectionClasses}>
  <Header>
    <h2 slot="heading" class={headingClasses}>
      Projects
    </h2>

    <p slot="sub" class={noteClasses}>
      Some of my OSS projects.
    </p>
  </Header>

  <CardGrid>
    {projects.map((project) => <ProjectsCard project={project} />)}
  </CardGrid>

  <footer>
    <Link to="https://github.com/norskeld" class={linkClasses} external>
      See all projects &amp; repositories <span class={linkArrowClasses}>&srarr;</span>
    </Link>
  </footer>
</section>
