---
import Card from '@/components/Card.astro'
import Link from '@/components/Link.astro'

import type { Project } from '@/api/projects'
import { tw, withVariables } from '@/utils'

export interface Props {
  project: Project
}

const { name, description, language, url } = Astro.props.project

const containerClasses = tw`
  [&_a]:font-semibold [&_a:hover]:underline
`

const headingClasses = tw`
  flex items-center w-full
  text-lg font-semibold tracking-tight
  text-gray-900 dark:text-gray-100
`

const languageTw = withVariables({
  '--language-color-light': language.color.at(0) ?? 'inherit',
  '--language-color-dark': language.color.at(1) ?? 'inherit',
})

const languageCss = languageTw`
  font-semibold italic
  text-[color:var(--language-color-light)] dark:text-[color:var(--language-color-dark)]
`
---

<Card class={containerClasses}>
  <h3 slot="header" class={headingClasses}>
    <Link to={url} external>
      {name} <span {...languageCss}>{language.ext}</span>
    </Link>
  </h3>

  <p slot="footer" set:html={description} />
</Card>
