---
import { tw, withVariables } from '@nrsk/tw'

import type { ProjectEntry } from '@/api/content'

import Card from '@/components/Card.astro'

export interface Props {
  project: ProjectEntry
}

const { name, description, language, url, wip } = Astro.props.project.data

const headingClasses = tw`
  flex items-center w-full justify-between
  text-lg font-semibold tracking-tight leading-tight
  text-gray-900 dark:text-gray-100
`

const wipClasses = tw`
  px-1.5 py-1 rounded-[0.25rem]
  text-xs font-semibold
  select-none cursor-help
  bg-gray-200 dark:bg-gray-800 text-gray-600 dark:text-gray-50
`

const languageTw = withVariables({
  '--language-color-light': language.color.at(0) ?? 'inherit',
  '--language-color-dark': language.color.at(1) ?? 'inherit'
})

const languageClasses = languageTw`
  font-semibold italic
  text-[color:var(--language-color-light)] dark:text-[color:var(--language-color-dark)]
`
---

<Card tag="a" to={url}>
  <h3 slot="header" class={headingClasses}>
    <span>
      {name}
      <span {...languageClasses}>{language.ext}</span>
    </span>

    {
      wip && (
        <span class={wipClasses} title="Work-in-progress project">
          wip
        </span>
      )
    }
  </h3>

  <p slot="footer" set:html={description} />
</Card>
