---
import { tw } from '@nrsk/tw'

import type { SnippetEntry } from '@/api/content/snippets'
import { toTagsWithURL } from '@/api/frontmatter'

import PageProse from '@/components/PageProse.astro'
import Header from '@/components/Header.astro'
import Date from '@/components/Date.astro'
import Tags from '@/components/Tags.astro'
import Dot from '@/components/Dot.astro'

export interface Props {
  item: SnippetEntry
}

const { content, frontmatter } = Astro.props.item

const tags = toTagsWithURL('/snippets/tags/', frontmatter.tags ?? [])

const snippetClasses = tw`
  flex flex-col justify-center items-start gap-10 sm:gap-12 w-full
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const metaClasses = tw`
  text-gray-700 dark:text-gray-300
`
---

<article class={snippetClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>
      {frontmatter.title}
    </h1>

    <p slot="sub" class={metaClasses}>
      <Date date={frontmatter.createdAt} />
      <Dot />
      <Tags items={tags} />
    </p>
  </Header>

  <PageProse content={content} />
</article>
