---
import { tw } from '@nrsk/tw'

import type { SnippetEntry } from '@/api/content/snippets'

import Header from '@/components/Header.astro'
import Prose from '@/components/Prose.astro'
import Date from '@/components/Date.astro'
import Dot from '@/components/Dot.astro'

import SnippetTags from './SnippetTags.astro'

export interface Props {
  item: SnippetEntry
}

const { content, frontmatter } = Astro.props.item

const snippetClasses = tw`
  flex flex-col justify-center items-start gap-10 sm:gap-12 w-full
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const metaClasses = tw`
  flex items-center
  text-gray-700 dark:text-gray-300
`
---

<article class={snippetClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>
      {frontmatter.title}
    </h1>

    <p slot="sub" class={metaClasses}>
      <Date date={frontmatter.createdAt} />
      <Dot />
      {frontmatter.tags && <SnippetTags tags={frontmatter.tags} />}
    </p>
  </Header>

  <Prose content={content} />
</article>
