---
import Header from '@/components/Header.astro'

import { loadArticles } from '@/api/articles'
import { inflect, tw } from '@/utils'

import ArticlePreview from './ArticlePreview.astro'

const articles = await loadArticles({
  sort: 'desc'
})

const articlesNoteInflected = inflect(
  [
    `there's <strong>${articles.length}</strong> article`,
    `there're <strong>${articles.length}</strong> articles`
  ],
  articles.length
)

const sectionClasses = tw`
  flex flex-col gap-10
  w-full
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const noteClasses = tw`text-gray-600 dark:text-gray-400`
const contentClasses = tw`flex flex-col gap-8`
---

<section class={sectionClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>
      Blog
    </h1>

    <p slot="sub" class={noteClasses}>
      So far <span set:html={articlesNoteInflected} />, but I'm working on new stuff!
    </p>
  </Header>

  <section class={contentClasses}>
    {articles.map((article) => <ArticlePreview article={article}/>)}
  </section>
</section>
