---
import { tw } from '@nrsk/tw'

import type { ArticleEntry } from '@/api/content/articles'
import { readingTime } from '@/api/utils'

import ScrollTop from '@/components/ScrollTop.astro'
import PageProse from '@/components/PageProse.astro'
import Header from '@/components/Header.astro'
import Date from '@/components/Date.astro'
import Dot from '@/components/Dot.astro'

export interface Props {
  item: ArticleEntry
}

const { content, frontmatter } = Astro.props.item

const articleClasses = tw`
  flex flex-col justify-center items-start gap-10 sm:gap-12
  w-full
`

const headingClasses = tw`
  text-3xl md:text-5xl font-bold tracking-tight
  text-black dark:text-white
`

const metaClasses = tw`
  flex items-center
  text-gray-700 dark:text-gray-300
`

const footerClasses = tw`
  flex justify-center w-full
`
---

<article class={articleClasses}>
  <Header>
    <h1 slot="heading" class={headingClasses}>
      {frontmatter.title}
    </h1>

    <p slot="sub" class={metaClasses}>
      <Date date={frontmatter.createdAt} />
      <Dot />
      {readingTime(content)}
    </p>
  </Header>

  <PageProse content={content} />

  <footer class={footerClasses}>
    <ScrollTop>Scroll to top &uarr;</ScrollTop>
  </footer>
</article>
