---
import type { ArticleEntry } from '@/api/content'
import { toTagsWithURL } from '@/api/frontmatter'
import { readingTime } from '@/api/utils'
import { render } from '@/api/markdown'

import Content from './Content.astro'
import TagList from './TagList.astro'
import Date from './Date.astro'
import Dot from './Dot.astro'

export interface Props {
  item: ArticleEntry
}

const { body, data } = Astro.props.item

const content = await render(body)
const tags = toTagsWithURL('/articles/tag/', data.tags ?? [])
---

<article class="flex flex-col justify-center items-start gap-10 sm:gap-12 w-full">
  <header class="flex flex-col gap-4 w-full">
    <h1
      class:list={[
        "text-2xl font-semibold",
        "text-black dark:text-white"
      ]}
    >
      {data.title}
    </h1>

    <div
      class:list={[
        "flex flex-col gap-4 sm:gap-0 sm:flex-row w-full",
        "text-gray-500 dark:text-gray-400"
      ]}
    >
      <div>
        <Date date={data.createdAt} />
        <Dot />
        <span>{readingTime(body)}</span>
      </div>

      <div class="flex">
        <Dot class="hidden sm:block" />
        <TagList items={tags} />
      </div>
    </div>
  </header>

  <Content content={content} />
</article>
