---
import type { ArticleEntry } from '@/api/content'
import { readingTime } from '@/api/utils'

import TagList from './TagList.astro'
import Date from './Date.astro'
import Dot from './Dot.astro'

export interface Props {
  item: ArticleEntry
}

const { body, data, render } = Astro.props.item

const { Content } = await render()

const time = readingTime(body)
const tags = data.tags.map((tag) => ({
  tag,
  url: `/articles/tag/${tag}`
}))
---

<article class="flex flex-col justify-center items-start gap-10 sm:gap-12 w-full">
  <header class="flex flex-col gap-4 w-full">
    <h1
      class:list={[
        "text-2xl font-semibold",
        "text-black dark:text-white"
      ]}
    >
      {data.title}
    </h1>

    <div
      class:list={[
        "flex flex-col gap-4 sm:gap-0 sm:flex-row w-full",
        "text-gray-500 dark:text-gray-400"
      ]}
    >
      <div>
        <Date
          created={data.createdAt}
          updated={data.updatedAt}
          tooltip
        />

        <Dot />

        <span>{time}</span>
      </div>

      <div class="flex">
        <Dot class="hidden sm:block" />
        <TagList items={tags} />
      </div>
    </div>
  </header>

  <section
    class:list={[
      "prose dark:prose-invert",
      "w-full max-w-none"
    ]}
  >
    <Content />
  </section>
</article>
