---
import { tw } from '@nrsk/tw'

export interface Props {
  to: string
  class?: string
  blank?: boolean
  external?: boolean
  underline?: boolean
}

const { to, class: className, blank = false, external = false, underline = true } = Astro.props

const linkTarget = blank ? '_blank' : '_self'
const linkRel = external ? 'noopener noreferrer external' : null

const linkClassesBase = tw`
  inline leading-5 font-normal no-underline transition-colors
  text-black dark:text-white
  hover:text-crayola-500 dark:hover:text-crayola-300
`

const linkBorderClasses = tw`
  border-b border-dotted border-black dark:border-white
  hover:border-crayola-500 dark:hover:border-crayola-300
`

const linkClasses = underline ? tw`${linkClassesBase} ${linkBorderClasses}` : linkClassesBase
---

<a href={to} class:list={[linkClasses, className]} target={linkTarget} rel={linkRel}>
  <slot />
</a>
