---
import { tw } from '@nrsk/tw'

import type { Tag } from '@/api/frontmatter'

import Link from './Link.astro'

export interface Props {
  class?: string
  items: Array<Tag>
}

const { class: className, items } = Astro.props

const labelClasses = tw`
  group mr-1 last:mr-0
`

const innerClasses = tw`
  before:content-['#'] before:font-mono before:transition-colors
  before:text-gray-400 dark:before:text-gray-400
  group-hover:before:text-crayola-500 dark:group-hover:before:text-crayola-300
`
---

<span class={className}>
  {
    items.map((item) =>
      item.url ? (
        <Link to={item.url} class={labelClasses} underline={false}>
          <span class={innerClasses}>{item.name}</span>
        </Link>
      ) : (
        <span class={labelClasses}>
          <span class={innerClasses}>{item.name}</span>
        </span>
      )
    )
  }
</span>
